header.main-header {
    padding: 1rem;
    border-bottom: 2px solid black;
    background: white;
}
ul {
    display: flex;
    padding-left: 0;
    margin: 0 -1rem;
}

.main-header-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

header.main-header .main-header-item, .main-header-item-icon {
    list-style: none;
    padding: 0 1rem;
}

header.main-header .main-header-item :not(:first-child) {
    padding-left: 0 !important;
}

header.main-header .main-header-item a {
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    font-size: 75%;
    color: black;
    text-decoration: none;
}
header.main-header .main-header-item a.active {
    color: white;
    background: black;
    border-radius: 0.25rem;
}

header.main-header .main-header-item a:hover {
    background: black;
    color: white;
    border-radius: 0.25rem;
}


/* MOBILE */
@media screen and (min-width: 992px) {
    .mobile-main-header-nav, #mobile-menu-toggle {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
        display: none;
    }
    #mobile-menu-close-button {
        display: none;
    }
    header.main-header {
        padding-bottom: 1rem;
    }

    #mobile-menu-toggle {
        display: flex;
        justify-content: space-between;
    }
    .close-button {
        display: none;
    }
    .main-header-nav {
        display: none;
    }
    .mobile-main-header-nav {
        display: none;
        z-index: 10;
    }
    .mobile-main-header-nav.display {
        z-index: 10;
        display: block;
    }
    .mobile-main-header-item-list {
        list-style: none;
        padding: 0;
        display: block;
        padding-top: 1rem;
    }
    .mobile-main-header-item {
        display: flex;
        padding: 1rem;
    }
    .mobile-main-header-item a {
        color: black;
        text-decoration: none;
    }
    .mobile-main-header-item {
        border-top: 1px solid lightgray;
    }
    .mobile-main-header-item:last-child {
        padding-bottom: 0;
    }
}

