/* SHOP */
div.product-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

div.product-item {
    padding: 0rem;
    width: 25%;
    margin: -1px;
    text-align: center;
}
@media screen and (max-width: 991px) {
    div.product-item {
        padding: 0rem;
        width: 50%;
        margin: -1px;
        text-align: center;
    }

}
div.product-item h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
div.product-item a {
    color: black;
    text-decoration: none;
}
div.product-item p {
    margin-top: 0;
    margin-bottom: 1rem;
}
div.product-item img {
    max-width: 100%;
}

/* PRODUCT DETAIL */
.product-detail .product-detail-image img {
    max-width: 100%;
}
.product-detail-description {
    white-space: break-spaces;
}
.shorten-text {
    max-height: 150px;
    overflow: hidden;
}
@media screen and (max-width: 991px) {
    .shorten-text {
        max-height: 100px;
        overflow: hidden;
    }
}

.see-more-button::before {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0, rgb(240,240,240) 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
  }
.see-more-button {
    font-weight: bold;
    display: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border: none;
    text-align: left;
    margin-bottom: 3rem;
}
.see-more-button:hover {
    background: unset;
}
.see-more-button:focus {
    outline: none;
}
.product-detail-information .product-price {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 50%;
}

/* ADMIN */
table {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 20px 25px 0px rgba(0,0,0,0.05);
    overflow: hidden;
    border-collapse: collapse;
}
table thead tr th {
    background: white;
    padding: 1rem;
    border-bottom: 1px solid;
}
table.admin-products tr th:last-child {
    text-align: right;
}
table tr th {
    text-align: left;
}
table.admin-products tr th:last-child {
    text-align: right;
}

table tbody tr {
    align-items: center;
    justify-content: space-between;
    width: initial;
    text-align: initial;
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
table tbody tr .product-title {
    font-family: "Exo 2";
    font-weight: 400;
}
table tbody tr td.product-description {
    width: 25%;
}

table tbody tr td.product-description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
     overflow: hidden;
     white-space: break-spaces;
}

table tbody tr:hover {
    background: rgb(245,245,245);
}
table tbody tr:not(:last-child) {
    border-bottom: 1px solid rgb(240,240,240);
}

table tbody tr p {
    margin: 0;
}
table tbody tr td {
    padding: 1rem;
}
table.admin-products tbody tr td:last-child div {
    display: flex;
    justify-content: flex-end;
}

table tbody tr div a {
    text-align: right;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
table tbody tr div button.delete-product {
    background: unset;
    border: unset;
    padding: unset;
    height: unset;
    color: darkred;
    margin-left: 1rem;
    font-size: 100%;
    cursor: pointer;
}
table tbody tr div a.edit-product {
    background: unset;
    border: unset;
    padding: unset;
    height: unset;
    color: gray;
}
table.cart-overview tbody tr:hover {
    background: white;
}
table.cart-overview tbody tr td:last-child div {
    display: flex;
    justify-content: space-between;
}
table.cart-overview tbody tr td.quantity > div {
    background: red;
    display: flex;
    justify-content: space-between;
}
table.cart-overview tr th {
    text-align: initial;
}
table.cart-overview tr td div.total-price {
    font-family: "Exo 2";
}
table.cart-overview tbody tr td.go-to-checkout > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
table.cart tbody tr td:last-child div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ORDERS */
table.orders {
    margin-bottom: 3rem;
}
