/* SHOP */
div.product-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

div.product-item {
    padding: 0rem;
    width: 25%;
    margin: -1px;
    text-align: center;
}
@media screen and (max-width: 991px) {
    div.product-item {
        padding: 0rem;
        width: 50%;
        margin: -1px;
        text-align: center;
    }

}
div.product-item h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
div.product-item a {
    color: black;
    text-decoration: none;
}
div.product-item p {
    margin-top: 0;
    margin-bottom: 1rem;
}
div.product-item img {
    max-width: 100%;
}

/* PRODUCT DETAIL */
.product-detail .product-detail-image img {
    max-width: 100%;
}
.product-detail-description {
    white-space: break-spaces;
}
.shorten-text {
    max-height: 150px;
    overflow: hidden;
}
@media screen and (max-width: 991px) {
    .shorten-text {
        max-height: 100px;
        overflow: hidden;
    }
}

.see-more-button::before {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0, rgb(240,240,240) 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
  }
.see-more-button {
    font-weight: bold;
    display: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border: none;
    text-align: left;
    margin-bottom: 3rem;
}
.see-more-button:hover {
    background: unset;
}
.see-more-button:focus {
    outline: none;
}
.product-detail-information .product-price {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 50%;
}

/* ADMIN */
table.product-grid {
    width: 100%;
}
table.product-grid tr th {
    padding: 1rem 0;
}
table.product-grid tr th:last-child {
    text-align: right;
}
table.product-grid tr th:not(:last-child) {
    text-align: left;
}
table.product-grid tr th:last-child {
    text-align: right;
}

table.product-grid .product-item {
    align-items: center;
    justify-content: space-between;
    width: initial;
    text-align: initial;
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
table.product-grid .product-item .product-title {
    font-family: "Exo 2";
    font-weight: 400;
}
table.product-grid .product-item:hover {
    background: rgb(240,240,240);
}
table.product-grid .product-item:not(:last-child) {
    border-bottom: 1px solid;
}

table.product-grid .product-item p {
    margin: 0;
}
table.product-grid .product-item td {
    padding: 1rem;
}
table.product-grid .product-item div {
    text-align: right;
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
table.product-grid .product-item div a {
    text-align: right;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
table.product-grid .product-item div a.delete-product {
    background: unset;
    border: unset;
    padding: unset;
    height: unset;
    color: darkred;
    margin-left: 1rem;
}
table.product-grid .product-item div a.edit-product {
    background: unset;
    border: unset;
    padding: unset;
    height: unset;
    color: gray;
}